@font-face {
    font-family: 'Nexa';
    src: url('../fonts/NexaBold.eot');
    src: url('../fonts/NexaBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NexaBold.woff') format('woff'),
        url('../fonts/NexaBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa';
    src: url('../fonts/NexaHeavy.eot');
    src: url('../fonts/NexaHeavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NexaHeavy.woff') format('woff'),
        url('../fonts/NexaHeavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa XBold';
    src: url('../fonts/NexaXBold.eot');
    src: url('../fonts/NexaXBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NexaXBold.woff') format('woff'),
        url('../fonts/NexaXBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa';
    src: url('../fonts/Nexa.eot');
    src: url('../fonts/Nexa.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Nexa.woff') format('woff'),
        url('../fonts/Nexa.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa';
    src: url('../fonts/NexaLight.eot');
    src: url('../fonts/NexaLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NexaLight.woff') format('woff'),
        url('../fonts/NexaLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa Book';
    src: url('../fonts/NexaBook.eot');
    src: url('../fonts/NexaBook.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NexaBook.woff') format('woff'),
        url('../fonts/NexaBook.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa';
    src: url('../fonts/NexaThin.eot');
    src: url('../fonts/NexaThin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NexaThin.woff') format('woff'),
        url('../fonts/NexaThin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

/* #wrapper {
    max-width: 1200px;
    min-width: 350px;
    margin-right: auto;
    margin-left: auto;
} */

.header {
    font-family: 'Nexa Book';
    font-weight: normal;
    font-style: normal;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 24px;
    padding-bottom: 15px;
    padding-top: 50px;
}

.line {
    background-color: #d5d5d5;
    width: 100%;
    height: 1px;
    margin-bottom: 50px;
}

.main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.rowStyles div p {
  display: none;
}

.serviceNeededStyle {
  width: 130px;
}

span.wpcf7-list-item {
  margin-right: 2em;
}

.side {
  width: 30%;
  height: auto;
  max-height: 277px;
  border: #d5d5d5 solid 1px;
  text-transform: uppercase;
  margin-top: 70px;
}

.side .title,  .side .address, .side .phone, .side .hours{
    font-family: 'NexaLight';
    font-weight: normal;
    font-style: normal;
}

.side .address, .side .phone, .side .hours{
    font-family: 'NexaLight';
    font-weight: normal;
    font-style: normal;
    color: grey;
    font-size: 12px;
    letter-spacing: 2px;
    padding-left: 40px;
    padding-top: 10px;
}

.side .title {
    font-size: 18px;
    letter-spacing: 5px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 20px;
}

.side .hours {
    padding-bottom: 20px;
}






input[type="radio"] {
    display:none;
  }
  
  input[type="radio"] + label {
    color:#f2f2f2;
    padding-left: 0px;
    font-size: 12px;
    letter-spacing: 3.5px;
    height: 100px;
  }
  
  .capitalizeFont {
    text-transform: uppercase;
    
  }
  
  .lessWidth {
    width: auto !important;
    margin-right: 40px;
  }
  
  .centerText {
    text-align: center;
  }
  
  
  input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:url(../images/check_radio_sheet.png) -57px top no-repeat;
    cursor:pointer;
  }
  
  input[type="radio"]:checked + label span {
    background:url(../images/check_radio_sheet.png) -38px top no-repeat;
  }
  
  input[type=text]:focus {
    /* color: rgb(184, 184, 184); */
    border: 0px;
    /* background-color: black; */
    outline:none;
  }
  
  .center {
    margin-left: auto;
    margin-right: auto;
    justify-content:center;
  }
  
  
  
  input:focus { 
    background-color: rgb(219, 219, 219);
  }


.main .form {
  width: 70%;
  font-family: 'Nexa Book';
  font-weight: normal;
  font-style: normal;
  padding-top: 50px;
  padding-bottom: 100px;
  padding-right: 50px;
}

.form-submit p {
  display: none;
}

 

  .formStyle {
      
    width: 100%;
    box-sizing: border-box;
    padding-right: 50px;
    justify-content: space-between;
  }
  
  .formStyle .rowStyles #contacted {
    color: rgb(0, 0, 0);
    padding-left: 10px;
    font-size: 12px;
    letter-spacing: 2px;
  }
  
  
  .formStyle .each-entry {
    
    height: 60px;
    width: 100%;
    overflow: hidden;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .formStyle .each-entry-large {
    height: 60px;
    width: 130%;
    overflow: hidden;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  
  .formStyle .rowStyles {
    display: flex;
    padding-bottom: 40px;
    justify-content: space-between;
   
  }
  
  .formStyle .rowStyles .radioStyle {
    padding-left: 10px;
    padding-right: 20px;
    color: rgb(0, 0, 0);
    font-family: 'Nexa Light';
  }
  
  .formStyle .rowStyles .radioStyle input {
    padding-right: 10px;
  }
  
  .each-entry .name, .each-entry-large .name {
    color: rgb(0, 0, 0);
    font-family: 'NexaLight';
    width: auto;
    background-color: rgba(0,0,0,0);
    border: 0px;
    width: 100%;
    font-size: 14px;
    /* letter-spacing: 3.5px; RS: remove spacing on form elements */
  }
  
  
  .each-entry .entryField, .each-entry-large .entryField {
    color: rgb(0, 0, 0);
    font-family: 'NexaLight';
    position: relative;
    top: -26px;
    width: auto;
    
  }
  
  .each-entry .line, .each-entry-large .line{
    width: 100%;
    height: 1px;
    background-color: #d5d5d5;
    margin-top: 5px;
  }
  
  
 
  
  
  .formStyle .form-submit{
    padding-left: 0px;
    text-transform: uppercase;
    /* border: 1px solid rgb(0, 0, 0); */
    /* background-size: 10px 20px; */
    width: 300px;
    height: 45px;
    margin-top: 0px;
    cursor: pointer;
    background-color: black;
    border: 0px;

    font-family: 'NexaLight';
    font-size: 14px;
    padding-top: 4px;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    letter-spacing: 3px !important;
    justify-content:center;
    align-items:center;
  }
  
  .formStyle .form-submit div {
    font-family: 'NexaLight';
    font-size: 14px;
    padding-top: 4px;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    letter-spacing: 3px !important;
    text-transform: uppercase;
    /* border-right: 1px solid rgb(0, 0, 0); */
    display:flex;
    justify-content:center;
    align-items:center;
  }
  
  .formStyle .form-submit .submitStyle {
    font-family: 'Nexa';
    font-weight: 300;
    font-size: 12px;
    margin-bottom: 100px;
  }
  
  .formStyle #prefferedMethod {
    padding-top: 10px;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
  

  .form .formStyle .rowStyles .checkBoxCopyStyle {
    font-size: 12px;
    position: relative;
    top: -2px;
    left: 7px;
  }

  input[type=checkbox] {
   font-size: 12px;
 }

 .serviceNeededLabelStyle {
  font-size: 16px;
  letter-spacing: 5px;
  padding-bottom: 20px;
 }


  button {
    border: 0px;
    border-radius: 0px;
  }

  .pageCenter #wrapper {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: 1200px;
  }

  .page-template-default.page.page-id-800 .pageCenter h2, .page-template-default.page.page-id-800 .pageCenter hr {
    width: 90%;
  }
  


  @media all and (max-width: 767px)  {

    .wpcf7-form-control-wrap.serviceSelection {
      margin-bottom: 20px;
    }

    #req-submit-btn {
      margin-top: 30px;
      margin-bottom: 30px;
    }


    .pageCenter .formStyle .main .form .rowStyles {
      padding-bottom: unset;
    }

    .pageCenter .formStyle {
      width: 100% !important;
      padding-right: unset;
    }

    #wrapper .main {
      display: flex;
      flex-direction: column;
    }

    #wrapper .main .side {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }

    #wrapper .main .form {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      padding-right: unset;
      display: block;
      padding-bottom: unset;
      /* flex-direction: row; */
    }

    #wrapper .main .form .formStyle .rowStyles {
      display: block !important;
      /* flex-direction: column; */
      padding-bottom: unset;
    }

    .formStyle .rowStyles {
      display: block;
    }

    #wrapper .main .side {
      margin-top: unset;
      margin-bottom: 80px;
    }



    #wrapper .main .form .formStyle .rowStyles .form-submit {
      margin-top: 50px;
    }
  }



  @media all and (min-width: 768px) and (max-width: 820px) {
    #wrapper .main .side {
      height: 300px;
      max-height: unset;
    }


    #wrapper .main .side .address, #wrapper .main .side .phone, #wrapper .main .side .hours {
      padding-left: 20px;
      font-size: 10px;
    }
  }
    
/* RS: added hover effect for select dropdowns */
.inputHolder.select.bgSelect ul {
	z-index: 99999;
}
.inputHolder.select.bgSelect ul li {
	padding: 5px;
}
.inputHolder.select.bgSelect ul li:hover {
    background: #CCCCCC;
}

